@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf?t=1744275509569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\f01b8";
}

.icon-fangda:before {
  content: "\f01b9";
}

.icon-24gl-swapHorizontal:before {
  content: "\eb74";
}

.icon-rotate:before {
  content: "\e615";
}

.icon-yincang:before {
  content: "\e60b";
}

.icon-yincang1:before {
  content: "\e7a6";
}

